/*

font-family: 'Open Sans', sans-serif;

font-family: 'Lato', sans-serif;

font-family: 'Oswald', sans-serif;

font-family: 'Montserrat', sans-serif;

*/

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
* {
	font-family: 'Open Sans', sans-serif;
	outline: none !important;
	margin: 0px;
	padding: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	font-size: 15px;
	line-height: 1.5;
	color: #212121;
}
header, footer, section, article, aside {
	display: block;
}
a {
	text-decoration: none;
	color: #555;
}
ol, ul {
	list-style: none;
}
p {
	margin: 0 0 10px;
}
.clearfix::before, .clearfix::after {
	content: " ";
	display: table;
}
.clearfix::after {
	clear: both;
}
.text-center {
	text-align: center;
}
.img-responsive {
	max-width: 100%;
	height: auto;
	display: block;
}
.container {
	width: 1180px;
	margin: 0px auto;
	max-width: 100%;
}
/* Header */
.header {
	background: #000000 none repeat scroll 0 0;
	border-bottom: 5px solid #e3ba76;
	color: #ffffff;
	text-align: center;
	padding: 20px 0;
}
.home .header {
	padding: 0;
}
.logo {
	float: left;
	padding: 10px 0 0;
}
.mainNav {
	display: inline-block;
}
.mainNav li {
	display: inline-block;
	position: relative;
}
.mainNav li a {
	color: #ffffff;
	display: block;
	padding: 15px 20px;
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	transition: all .25s;
}
.mainNav li a:hover, .mainNav li.current-menu-item a {
	background: #e3ba76;
	color: #222;
}
.sub-menu {
	border-top: 5px solid #e3ba76;
	overflow: hidden;
    background: #000000;
    border-radius: 0 0 5px 5px;
    left: 0;
    position: absolute;
    text-align: left;
    top: 58px;
    width: 180px;
    z-index: 10;
	opacity: 0;
	visibility: hidden;
	
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	transition: all .25s;
}
.mainNav li:hover .sub-menu { 
	top: 53px;
	opacity: 1;
	visibility: visible;
}
.sub-menu li {
    width: 100%;
}
.sub-menu li a {
    padding: 10px 15px;
	font-size: 13px;
}
.cartlist {
    background: #000000;
	border-radius: 0 0 5px 5px;
	overflow: hidden;
    position: absolute;
    right: 0;
    top: 58px;
    width: 100px;
    z-index: 10;
	opacity: 0;
	visibility: hidden;
	border-top: 5px solid #e3ba76;
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	transition: all .25s;
}
.cartlist li { 
	width: 100%;
}
.cartlist li:hover a { 
	background: #e3ba76;
	color: #222; 
}
.cartlist li a {
    font-size: 13px;
    font-weight: 400;
}
.cartContents:hover .cartlist { 
	top: 53px;
	opacity: 1;
	visibility: visible;
}
.navRight {
	float: right;
}
.navRight {
	float: right;
}
.navRight li {
	display: inline-block;
	position: relative;
}
.search i {
	cursor: pointer;
	display: block;
	padding: 15px 5px;
}
li.search:hover form {
	display: block;
}
.search form {
	display: none;
	right: 0;
	position: absolute;
	top: 43px;
}
.search form input {
	border: 1px solid #cccccc;
	border-radius: 3px;
	padding: 10px;
	width: 200px;
}
.navRight li a {
	color: #ffffff;
	display: block;
	padding: 15px 10px;
}
.cartContents {
	font-weight: 700;
}
.cartContents i {
	padding-right: 3px;
	display: inline-block;
}
/**/

.mainContent {
	padding: 40px 0;
}
.productOffers .col {
	float: left;
	width: 33.333%;
	padding-right: 10px;
}
.colBox {
	position: relative;
}
.colBox img {
	width: 100%;
}
.catLink {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}
.colBox .catImage {
	background: #f2f1f6 center center;
	display: block;
	height: 227px;
	padding: 25px;
	position: relative;
}
.catInfo {
	color: #444444;
	text-transform: uppercase;
}
.catInfo h2 {
	font-family: "Oswald", sans-serif;
	font-size: 30px;
	font-weight: 300;
	letter-spacing: 2px;
}
.catInfo p {
	font-family: "Montserrat", sans-serif;
	font-size: 15px;
	font-weight: 700;
	letter-spacing: 2px;
}
.btnStyle {
	border: 2px solid #888888;
	border-radius: 2px;
	bottom: 25px;
	color: #555555;
	display: inline-block;
	font-family: "Montserrat", sans-serif;
	font-size: 13px;
	left: 25px;
	letter-spacing: 1px;
	padding: 15px 18px;
	position: absolute;
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	transition: all .25s;
}
.colBox:hover .btnStyle {
	background: #888;
	color: #fff;
}
.colBox + .colBox {
	padding-top: 10px;
}
.colBox p:empty {
	display: none;
}
.col-3 .colBox .catImage {
	height: 464px;
}
.col-3 .colBox .catInfo {
	bottom: 25px;
	left: 0;
	padding: 0 25px;
	position: absolute;
	width: 100%;
}
.col-3 .colBox .btnStyle {
	bottom: 15px;
	left: auto;
	right: 25px;
}
.featuredProd {
	padding: 40px 0;
}
.lineStyle::after {
	background: #cccccc none repeat scroll 0 0;
	content: "";
	height: 2px;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	z-index: -1;
}
.lineStyle {
	position: relative;
	text-align: center;
}
.lineStyle span {
	background: #ffffff none repeat scroll 0 0;
	color: #555555;
	display: inline-block;
	font-weight: 700;
	letter-spacing: 1px;
	padding: 10px 30px;
}
.featuredProd ul {
	padding-top: 40px;
	text-align: center;
}
.featuredProd ul li {
	display: inline-block;
	padding: 0 20px;
	vertical-align: top;
	width: 24%;
	position: relative;
}
.featuredProd ul li img {
	display: block;
	max-width: 100%;
}
.featuredProd ul li figcaption {
	padding-top: 15px;
}
.featuredProd ul li figcaption h4 a {
	color: #222;
	font-weight: 700;
	letter-spacing: 1px;
	display: inline-block;
	margin-bottom: 10px;
}
.prodPrice {
	font-size: 17px;
	letter-spacing: 1px;
}
.btnBlank {
	background: none;
	border: 2px solid #413f3f;
	display: inline-block;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 1px;
	padding: 4px 15px;
	color: #413f3f;
	text-transform: uppercase;
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	transition: all .25s;
}
.btnBlank:hover {
	background: #413f3f;
	color: #fff;
}
.prodAdBanner {
	padding: 20px 0;
}
.footer {
	background: #000000 none repeat scroll 0 0;
	padding: 30px 0 20px;
}
.Fcol {
	float: left;
	width: 25%;
	padding-right: 30px;
}
 .Fcol:las-child {
 padding-right: 0px;
}
.Fcol h5 {
	border-bottom: 1px solid #676869;
	color: #ffffff;
	font-size: 13px;
	font-weight: 700;
	letter-spacing: 1px;
	margin-bottom: 20px;
	padding-bottom: 5px;
	text-transform: uppercase;
}
.footerNav a {
	color: #cccccc;
	display: inline-block;
	font-size: 13px;
	padding: 5px 0;
}
.footerNav a:hover {
	color: #fff;
}
.addressFooter {
	color: #ccc;
	font-size: 13px;
	padding-top: 30px;
}
.addressFooter a {
	color: inherit;
}
.blogEntries li {
	padding-bottom: 15px;
}
.dateStyle {
	float: left;
}
.dateStyle span {
	border: 1px solid #7a7a7a;
	border-radius: 30px;
	color: #7a7a7a;
	display: block;
	height: 40px;
	line-height: 40px;
	text-align: center;
	width: 40px;
}
.dateStyle > small {
	color: #7a7a7a;
	display: block;
	padding-top: 5px;
	text-align: center;
}
.bPostContent h6 a {
	color: #ffffff;
	display: inline-block;
	font-size: 13px;
	padding-bottom: 5px;
	text-transform: uppercase;
}
.bPostContent {
	margin-left: 60px;
	color: #ccc;
}
.copyright {
	text-align: center;
	color: #808080;
}
.social {
	padding: 30px 0 10px;
}
.social li {
	display: inline-block;
	margin: 0 3px;
	background: url(../images/social-links.png) no-repeat;
}
.social li.fb {
	background-position: 0 0;
}
.social li.insta {
	background-position: -42px 0;
}
.social li.tw {
	background-position: -86px 0;
}
.social li.gp {
	background-position: -131px 0;
}
.social li.yt {
	background-position: -176px 0;
}
.social li.pin {
	background-position: -220px 0;
}
.social li.yelp {
	background-position: -266px 0;
}
.social li a {
	height: 32px;
	width: 31px;
	display: block;
}
.woocommerce .woocommerce-breadcrumb {
	padding: 30px 0 0 !important;
	font-size: 12px !important;
}
.woocommerce .woocommerce-ordering select {
	border: 1px solid #cccccc;
	border-radius: 3px;
	color: #555555;
	font-size: 12px;
	padding: 10px;
}
.woocommerce-result-count {
	font-size: 12px;
}
.featuredProd.productlisting ul li {
	border: 1px solid #dddddd;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	display: inline-block;
	margin-bottom: 2%;
	margin-right: 2%;
	padding: 30px;
	vertical-align: top;
	width: 23%;
}
.featuredProd.productlisting ul li:nth-child(4n) {
	margin-right: 0px;
}
.woocommerce nav.woocommerce-pagination {
	padding-bottom: 50px;
}
.woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav.woocommerce-pagination ul li span {
	min-width: 40px !important;
	line-height: 27px !important;
}
.woocommerce a.added_to_cart {
	background: #e2d4b0 none repeat scroll 0 0;
	color: #000000;
	display: inline-block;
	font-size: 12px;
	font-weight: 600;
	left: 0;
	letter-spacing: 1px;
	padding: 8px;
	position: absolute;
	right: 0;
	text-transform: uppercase;
	top: 0;
	white-space: nowrap;
}
.coupon .input-text {
	min-width: 120px;
	padding: 10px !important;
}
.woocommerce .quantity .qty {
	border: 1px solid #cccccc;
	border-radius: 3px;
	min-width: 30px;
	padding: 10px;
	text-align: center;
	width: 80px !important;
}
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
	background: #bd8e41 !important;
}
.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
	background: #dbad61 !important;
}
.single_add_to_cart_button {
	background: #000000 none repeat scroll 0 0 !important;
	letter-spacing: 1px;
	padding: 14px 20px !important;
	text-transform: uppercase;
}
.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
	border: 1px solid #cccccc;
	border-radius: 3px;
	box-sizing: border-box;
	line-height: 1;
	margin: 0;
	outline: 0 none;
	padding: 9px 10px;
	width: 100%;
}
.woocommerce div.product .product_title {
	font-size: 22px;
	font-weight: 700;
}
.sku_wrapper {
	color: #999999;
}
.woocommerce div.product p.price, .woocommerce div.product span.price {
	color: #bd8e41 !important;
	font-size: 30px !important;
	font-weight: 700;
}
.woocommerce div.product div.images img {
	width: auto !important;
	max-width: none;
}
.woocommerce div.product form.cart div.quantity {
	float: none !important;
	margin: 10px 0 20px !important;
}
.woocommerce div.product div.images {
	padding-bottom: 20px;
	padding-left: 170px;
	padding-top: 20px;
	position: relative;
}
.woocommerce div.product div.images div.thumbnails {
	left: 0;
	padding-top: 1em;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}
#thumblist .slide {
	overflow: hidden;
}
.zoom.zoomThumbActive {
	background: #eeeeee none repeat scroll 0 0;
}
.thumbnails .zoom {
	background: #fff none repeat scroll 0 0;
	border: 2px solid #999;
	border-radius: 5px;
	clear: both;
	display: block;
	margin: 0 !important;
	padding: 5px;
	width: 70px !important;
}
.thumbnails .zoom.zoomThumbActive {
	border-color: #555555;
}
.bx-wrapper img {
	max-width: 100% !important;
}
.zoomPad {
	height: 308px;
	border: 4px solid #666666;
	width: 308px;
}
.thumbnails .bx-wrapper .bx-controls .bx-prev {
	left: 50%;
	text-indent: 0;
	top: 0;
	-webkit-transform: translate(-50%, -30px);
	-moz-transform: translate(-50%, -30px);
	transform: translate(-50%, -30px);
}
.thumbnails .bx-wrapper .bx-controls .bx-next {
	bottom: 0;
	left: 50%;
	text-indent: 0;
	top: auto;
	-webkit-transform: translate(-50%, 40px);
	-moz-transform: translate(-50%, 40px);
	transform: translate(-50%, 40px);
}
.woocommerce div.product .woocommerce-tabs .panel {
	color: #555555;
	font-size: 14px;
	line-height: 2;
}
.woocommerce-Tabs-panel ul {
	padding: 5px 0 15px;
}
.woocommerce-Tabs-panel li {
	list-style: inside none disc;
	padding: 3px 0;
}
.related.products h2 {
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #777;
}
.zoomPad > img {
	border: none !important;
}
.wpcf7-form {
    padding-bottom: 30px;
    padding-top: 30px;
}
.wpcf7-form input, .wpcf7-form textarea {
    border: 1px solid #cccccc;
    border-radius: 3px;
    color: #222222;
    font-size: 14px;
    max-width: 100%;
    padding: 10px;
    width: 400px;
}
.wpcf7-form .wpcf7-submit { 
	background: #e3ba76;
    border: medium none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 15px;
    text-transform: uppercase;
}
div.wpcf7-response-output { 
	border: none !important;
	padding: 15px 0 !important;
	margin: 0px !important;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
}
 @media only screen and (min-width: 768px) and (max-width: 991px) {
}
 @media only screen and (max-width: 767px) {
.container {
	padding: 0 15px;
}
.productOffers .col {
	margin-bottom: 10px;
	padding-right: 0;
	width: 100%;
}
.featuredProd ul li {
	width: 100%;
	padding: 20px 0;
}
.Fcol {
	width: 100%;
	padding-right: 0;
	padding-bottom: 30px;
}
.featuredProd.productlisting ul li {
	width: 100%;
	margin-bottom: 20px;
	margin-right: 0;
}
}
